* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    overflow-x: hidden; 
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
    line-height: 1.0;
    background-color: #f4f4f4; 
}

header {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1; 
    padding: 10px 0; 
}

nav ul {
    display: flex; 
    justify-content: center; 
    list-style: none; 
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: #333; 
    text-decoration: none; 
    font-weight: bold; 
}

nav ul li a:hover {
    color: #ff6347; 
}

.home-background {
    background-image: url('assets/me.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.home-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: -1; 
}

main {
    padding: 0px; 
    text-align: center; 
}

footer {
    text-align: center; 
    padding: 15px;
    background-color: rgb(206, 188, 146);
    color: #fff;
    margin-top: 0;
}


@media (max-width: 768px) {
    nav ul {
        justify-content: space-around; 
    }

    .home-background {
        height: 100vh; 
        background-size: cover; 
        background-position: center;
    }
}

@media (max-width: 480px ) {
    nav ul {
        flex-wrap: nowrap; 
        justify-content: space-evenly; 
    }

    nav ul li a {
        font-size: 12px; 
    }

    .home-background {
        height: 100%; 
        background-size: cover; 
        background-position: center; 
    }
}



.responsive-img {
    max-width: 100%; 
    height: auto; 
}


.family-grid, .hobbies-gallery {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 30px; 
    margin-top: 20px; 
}

.contact-form {
    margin-top: 20px; 
}

.contact-form form {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.intro {
    position: absolute; 
    top: 75%; 
    left: 0; 
    right: 0; 
    font-size: 20px;
    margin: auto; 
    width: 70%; 
    color: white; 
    text-align: center; 
    padding: 15px; 
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 100px; 
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@keyframes slideIn {
    0% {
        transform: translateX(-100%); 
        opacity: 0; 
    }
    50% {
        transform: translateX(0); 
        opacity: 1; 
    }
    100% {
        opacity: 1; 
    }
}

.intro h1 {
    font-family: 'Lobster', cursive; 
    animation: slideIn 4s ease-in-out forwards; 
}

.intro p {
    font-family: 'Poppins', sans-serif; 
    animation: slideIn 4s ease-in-out forwards; 
    animation-delay: 0.5s;
}

.family-background {
    background-color: #FED6BC;
    min-height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

html, body {
    height: 100%;
    margin: 0;
}

.intro-family h1 {
    font-family: 'Lobster', cursive; 
    font-size: 40px; 
    text-align: center; 
    color: white; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
    margin-top: 80px;
}

.family-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px;
    max-width: 1200px;
    margin: auto; 
}
.family-member {
    position: relative; 
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.family-member:hover {
    transform: scale(1.05);
}


.family-member img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px; 
    text-align: center;
    opacity: 0; 
    transform: translateY(100%); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}
.family-member:hover .description {
    opacity: 1; 
    transform: translateY(0);
}
.description h4 {
    font-size: 1.2em; 
    margin-bottom: 10px; 
    text-transform: uppercase; 
    letter-spacing: 1px;
}

.description p {
    font-size: 0.9em; 
    line-height: 1.5; 
}





h2 {
    font-family: 'Lobster', cursive; 
    font-size: 48px; 
    text-align: center; 
    color: #6D4C41; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 50px; 
}


.edu-background {
    background: linear-gradient(135deg, #FEE2C5, #FED6BC); 
    background-size: cover; 
    padding: 40px;
    min-height: 100vh;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 42px;
    text-align: center;
    color: #776354;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #ac8161;
    color: #fff;
}

td {
    background-color: #FBE9E7;
}

tr:hover {
    background-color: #ebe1b6;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
    main {
        padding: 20px;
    }

    h2 {
        font-size: 32px;
    }

    table, th, td {
        font-size: 14px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
.hobbies-gallery {
    background-color: #FED6BC;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    min-height: 100vh;
    margin: 0 auto;
   
}

.hobby-card {
    perspective: 1000px; 
}

.hobby-card-inner {
    margin-top: 50%;
    position: relative;
    width: 100%;
    height: 500px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.hobby-card:hover .hobby-card-inner {
    transform: rotateY(180deg); 
}

.hobby-card-front, .hobby-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.hobby-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hobby-card-back {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transform: rotateY(180deg);
}


@media (max-width: 768px) {
    .hobbies-gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 20px;
    }

    .hobby-card {
        height: 250px;
    }
}
.contact-background {
    background: linear-gradient(135deg, #f9e1c2, #fed6bc);
    padding: 40px 0;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #826551;
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 16px;
    color: #6D4C41;
}

.contact-form input[type="text"], 
.contact-form input[type="email"], 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 16px;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #906f57;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #856554;
}

.social-media {
    text-align: center;
    margin: 40px 0;
}

.social-media h3 {
    font-family: 'Lobster', cursive;
    font-size: 28px;
    color: #826551;
    margin-bottom: 20px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.1);
}

.location-map {
    text-align: center;
    margin: 40px 0;
}

.location-map h3 {
    font-family: 'Lobster', cursive;
    font-size: 28px;
    color: #795e4c;
    margin-bottom: 20px;
}

.location-map img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .contact-form, .location-map img {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}